@import './Styles/Style';


h1, h2, h3{
  font-family: $header-font;
}


// ============Styling of Menubar===========//
.logo{
  color: $text-white;
  font-weight: $bold-font;
}
.logo:hover{
  text-decoration: $underline-none;
}
.colored-text{
  color: $theme-color;
  // font-weight: $extra-bold;
}
.menu-link{
  padding-right: 30px;
  color: $text-white;
  font-weight: $bold-font;
}
.menu-link:hover{
  text-decoration: $underline-none;
  color: $theme-color;
}
.navbar-hamburger {
  background: #fff !important;
}


// ==========Styling of Header==========//

.header-bg{
  background-image: url(./images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 700px;
}
.header-text{
  text-transform: uppercase;
  font-family: $header-font;
  font-size: 60px;
}
.header-para{
  font-size: 14px;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
}
.video{
  border: 10px solid rgb(5, 6, 19);
  border-radius: 2px;
  width: 100%;
}
.btn-brand{
  background-color: $theme-color;
  font-family: $header-font;
  color: black;
  padding: 10px 50px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-weight: $bold-font;
}
.btn-brand:hover{
  background: none;
  border: 2px solid $theme-color;
  color: $text-white;
}

// ========== Styling of Services Area ========== //

.service-body{
  margin-top: 150px;
  
}
.service-body h1{
  font-family: $header-font;
}
.progression{
  background-image: url(./images/banner/service-1.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  background-size: contain;
  background-position: top center;
}
.workout{
  background-image: url(./images/banner/service-2.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  background-size: contain;
  background-position: top center;
}
.nutrition{
  background-image: url(./images/banner/service-3.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  background-size: contain;
  background-position: top center;
}


// ==========Style of about us section ==========// 

.about-heading{
  display: inline-block;
  // padding: ;
  font-family: $header-font;
  color: gray;
  border-right: 1px solid lightgray;
}
.small-text{
  line-height: 2;
}

// ========= Style of choose us section ========== // 

.choose-us-body{
  margin: 150px 0;
}
.choose-card>h4{
  font-family: $header-font;
  margin: 25px 0;
}
.choose-card>p{
  color: rgb(83, 81, 81);
}

.choose-card{
  background-color: #fff;
  padding: 20px 0;
   transition: all 0.5s ease;
}
.choose-card:hover{
  cursor: pointer;
  border: 2px solid $theme-color;
  box-shadow: 5px 5px 10px rgb(197, 196, 196);
  transform: scale(1.1);
}